<% include _header %>

<h1>Booking Confirmation</h1>
<h2>You are all set to see a doctor.</h2>

<div class="panel panel-default">
    You have now successfully booked with:
    <table class="table">
        <tr>
            <td>
                <br> <%= currentUser.name() %>
                <br> <%= name %>
                <br> <%= address %>
                <br> <%= postcode %>
                <br> <%= phone %>
                <br> lat: <%= latitude %>
                <br> long: <%= longitude %>
            </td>
            <td>
                
            </td>
        </tr>

    </table>
    
</div>

<% include _footer %>