<% include _header %>

<h1>Find a GP</h1>

<h2>Available GP Clinics</h2>

<table class="table">

    <tr>
        <th>Clinic</th>
        <th>Address</th>
        <th>Queue size</th>
        <th>Approx. Wait</th>
        <th> </th>
    </tr>

    <% clinics.forEach(function(clinic) { %>
        <tr>
            <td>
                <a href="/clinics/<%= clinic.name %>">
                    <%= clinic.clinicName() %>
                </a>
            </td>
            <td><%= clinic.address %></td>
            <td><%= clinic.queueCount() %></td>
            <td><%= clinic.approxWait() %> hrs</td>
            <td>
                <form action="/booking-confirmation" method="post">
                    <input name="clinicID" type="hidden"  value="<%= clinic._id %>">
                    <input type="submit" value="Join Queue" class="btn btn-primary">
                </form>
            </td>
        </tr>
    <% }) %>

</table>

<% include _footer %>