<% include _header %>

<h1>User Profile</h1>

<div class="row">
    <div class="col-sm-6 rounded card profile">
        <table>
            <tr>
                <td width="40%">
                    <img src="data:image/<%=currentUser.profileImage.contentType%>;base64,
                    <%=currentUser.profileImage.data.toString('base64')%>" width="100%">
                </td>
                 
                <td>
                    <table>
                        <tr>
                            <td><b>
                                <% if (typeof currentUser.name.given === 'undefined') { %>
                                    [Given]
                                <% } else if (currentUser.name.given === "") { %> 
                                    [Given]
                                <% } else { %> 
                                    <%=currentUser.name.given%>
                                <% } %>
                                
                                <% if (typeof currentUser.name.middle === 'undefined') { %>
                                    
                                <% } else if (currentUser.name.middle === "") { %> 
                                    
                                <% } else { %> 
                                    <%=currentUser.name.middle%>
                                <% } %>

                                <% if (typeof currentUser.name.family === 'undefined') { %>
                                    [Family]
                                <% } else if (currentUser.name.family === "") { %> 
                                    [Family]
                                <% } else { %> 
                                    <%=currentUser.name.family%>
                                <% } %>
                            </b></td>
                        </tr>
                        <tr>
                            <td>
                                <% if (typeof currentUser.address.street === 'undefined') { %>
                                    [Street]
                                <% } else if (currentUser.address.street === "") { %> 
                                    [Street]
                                <% } else { %> 
                                    <%=currentUser.address.street%>
                                <% } %> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                            
                                <% if (typeof currentUser.address.city === 'undefined') { %>
                                    [city]
                                <% } else if (currentUser.address.city === "") { %> 
                                    [city]
                                <% } else { %> 
                                    <%=currentUser.address.city%>
                                <% } %> 
                            
                                <% if (typeof currentUser.address.state === 'undefined') { %>
                                    [state]
                                <% } else if (currentUser.address.state === "") { %> 
                                    [state]
                                <% } else { %> 
                                    <%=currentUser.address.state%>
                                <% } %>

                                <% if (currentUser.address.postcode === null) { %>
                                    [postcode]
                                <% } else if (currentUser.address.postcode === "") { %> 
                                    [postcode]
                                <% } else { %> 
                                    <%=currentUser.address.postcode%>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <% if (typeof currentUser.mobile === 'undefined') { %>
                                    M: [mobile]
                                <% } else if (currentUser.mobile === "") { %> 
                                    M: [mobile]
                                <% } else { %> 
                                    M: <%=currentUser.mobile%>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <% if (typeof currentUser.email === 'undefined') { %>
                                    E: [email]
                                <% } else if (currentUser.email === "") { %> 
                                    E: [email]
                                <% } else { %> 
                                    E: <%=currentUser.email%>
                                <% } %>
                            </td>
                        </tr>
                    </table>
                     
                </td>
            </tr>
        </table>
        
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <nav class="nav flex-column">
            <a class="nav-link menu" href="/edit-profile">Edit Profile</a>
            <a class="nav-link menu" href="/delete-profile">Delete Profile</a>
            <p class="m-0">
                <a class="nav-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Medical Records
                </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <a class="nav-link bg-danger menu" href="#" data-bs-toggle="modal" data-bs-target="#heightWeightModal">Height & Weight</a>
                    <a class="nav-link bg-danger menu" href="#" data-bs-toggle="modal" data-bs-target="#healthConditionModal">Medical Conditions</a>
                    <a class="nav-link bg-danger menu" href="#" data-bs-toggle="modal" data-bs-target="#currentMedicationModal">Medications</a>

                </div>
            <a class="nav-link menu" href="#">Link</a>
            <a class="nav-link menu disabled" href="#">Disabled</a>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 rounded bg-secondary text-white card">
        <h2>Find a GP</h2>
        <p>Enter your postcode, and find a GP clinic near you</p>
            <table>
                
                <form action="/clinic/search" method="post">
                    <tr>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                        <td>Postcode: </td>
                        <td>
                            <input name="postcode" type="number" class="form-control"
                                    placeholder="e.g. 3000">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <input type="submit" value="Find" class="btn btn-primary">
                        </td>
                    </tr>
                </form>
            </table>
    </div>
    <div class="col-sm-6"></div>
</div>




<div class="modal fade" id="heightWeightModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/medical-records" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Height</label>
            <input type="number" value="<%= record.height ? record.height : '' %>"  name="height" min="0" class="form-control" id="exampleFormControlInput1" placeholder="Height in cms">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Weight</label>
            <input type="number" value="<%= record.weight ? record.weight : '' %>"  name="weight" min="0" class="form-control" id="exampleFormControlInput1" placeholder="Weight in kgs">
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="healthConditionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/medical-records" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Health Conditions</label>
            <textarea name="health_condition" class="form-control" rows="5" placeholder="Please enter your existing medical conditions" /><%= record.health_condition ? record.health_condition : '' %></textarea>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="currentMedicationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/medical-records" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Current Medications</label>
          <textarea name="current_medication" class="form-control" rows="5" placeholder="Let us know if you are taking any medications. Include any allergies you have" /><%= record.current_medication ? record.current_medication : '' %></textarea>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include _footer %>